<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <%= image_tag "profile.png", class: "img-responsive" %>
                <div class="intro-text">
                    <span class="name">Panuwat Boonrod</span>
                    <hr class="star-light">
                    <span class="skills">Job Position: Junior Ruby on Rails Developer - Junior Web Developer</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Skill Grid Section -->
<section id="skill">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Technical Skill</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
                <div class="col-sm-4 portfolio-item">
                  <%= image_tag "rails.jpeg", class: 'img-responsive' %>
                    <p> <h3> Why Ruby on rails ?</h3>
                    <p> Fast and Friendly , So I have love them at first sight </p>
                </div>
                <div class="col-sm-4 portfolio-item">
                  <%= image_tag "microrest_small.jpg", class: 'img-responsive' %>
                    <p> <h3> Why Ruby on rails ?</h3>
                    <p> 6 months hands-on experiences and pragmatic knowledge on Ruby on Rails 
                    2.) Basic knowledge of common libraries and tools such as RSpec, bundle, Gemfile, Gemfile.lock and more </p>
                </div>
                <div class="col-sm-4 portfolio-item">
                  <%= image_tag "github.jpeg", class: 'img-responsive' %>
                    <p> <h3> Why Ruby on rails ?</h3>
                    <p> 6 months hands-on experiences and pragmatic knowledge on Ruby on Rails 
                    2.) Basic knowledge of common libraries and tools such as RSpec, bundle, Gemfile, Gemfile.lock and more </p>
                </div>
             
        </div>
    </div>
    
<!-- Personal Skill Grid Section -->
<section id="skill">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Personal Skill</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
                <div class="col-sm-4 portfolio-item">
                  <%= image_tag "enjoy-motivation.png", class: 'img-responsive', align: "middle" %>
                   <p> <h3> Why Ruby on rails ?</h3>
                    <p> 6 months hands-on experiences and pragmatic knowledge on Ruby on Rails 
                    2.) Basic knowledge of common libraries and tools such as RSpec, bundle, Gemfile, Gemfile.lock and more </p>
                </div>
                <div class="col-sm-4 portfolio-item">
                  <%= image_tag "body-positive.png", class: 'img-responsive' %>
                    <p> <h3> Why Ruby on rails ?</h3>
                    <p> 6 months hands-on experiences and pragmatic knowledge on Ruby on Rails 
                    2.) Basic knowledge of common libraries and tools such as RSpec, bundle, Gemfile, Gemfile.lock and more </p>
                </div>
                <div class="col-sm-4 portfolio-item">
                  <%= image_tag "toeic.png", class: 'img-responsive' %>
                    <p> <h3> Why Ruby on rails ?</h3>
                    <p> 6 months hands-on experiences and pragmatic knowledge on Ruby on Rails 
                    2.) Basic knowledge of common libraries and tools such as RSpec, bundle, Gemfile, Gemfile.lock and more </p>
                </div>
             
        </div>
    </div>

</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello ! , My name is Panuwat Boonrod, I'm 26 Years old , I'm Lab Technician at Bridgestone Metalpha for 4 years, and Graduating in Computer Science
                        In Sukhothai University in third-year  </p>
            </div>
            <div class="col-lg-4">
                <p> Although I didn’t graduated from Bachelor degree, But i have motivation and enthusiasm to learn the new things and new technology, 
                So i have taken Online course for learn Javascript,HTML,CSS,Bootstrap 
                and familiar with Ruby on rails MVC Framework,API,Java and Basic Web Application</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://drive.google.com/open?id=0BzjJMvt6RUJRRjFydFRfRUdlUWM" class="btn btn-lg btn-outline">
                    <i class="fa fa-download">Download Official Resume</i> 
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2><br>
                <div class="row">
                <hr class="star-primary">
                <div class="col-sm-4 portfolio-item">
                <%= image_tag "geofriends.png", class: "img-responsive" %>
                <p> <h3> Why Ruby on rails ?</h3>
                    <p> 6 months hands-on experiences and pragmatic knowledge on Ruby on Rails 
                    2.) Basic knowledge of common libraries and tools such as RSpec, bundle, Gemfile, Gemfile.lock and more </p>
                </div>
                  <div class="col-sm-4 portfolio-item">
                <%= image_tag "blog.png", class: "img-responsive" %>
                <p> <h3> Why Ruby on rails ?</h3>
                    <p> 6 months hands-on experiences and pragmatic knowledge on Ruby on Rails 
                    2.) Basic knowledge of common libraries and tools such as RSpec, bundle, Gemfile, Gemfile.lock and more </p>
                </div>
                 <div class="col-sm-4 portfolio-item">
                <%= image_tag "railsvector.png", class: "img-responsive" %>
                <p> <h3> Why Ruby on rails ?</h3>
                    <p> 6 months hands-on experiences and pragmatic knowledge on Ruby on Rails 
                    2.) Basic knowledge of common libraries and tools such as RSpec, bundle, Gemfile, Gemfile.lock and more </p>
                </div>
                </div>
            </div>
        </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>