<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <%= image_tag "profile.png", class: "img-responsive" %>
                <div class="intro-text">
                    <span class="name">Panuwat Boonrod</span>
                    <hr class="star-light">
                    <span class="skills">Job Position: Junior Rails Developer - Junior Web Developer</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Skill Grid Section -->
<section id="skill">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Technical Skill</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <!-- ROR Section -->
               <div class="col-sm-4 portfolio-item">
                  <%= image_tag "rails.jpg", class: 'img-responsive' %>
                    <p> <h3> Ruby on rails </h3>
                    <p> Hands-on experiences and pragmatic knowledge on Ruby on Rails 
                     Basic knowledge of common libraries and tools such as Bundle, Gemfile,rbenv and also learning RSpec,Capybara. </p>
                </div>
                 <!-- RESTful Section -->
                <div class="col-sm-4 portfolio-item">
                  <%= image_tag "microrest_small.jpg", class: 'img-responsive' %>
                    <p> <h3> API </h3>
                    <p> Understanding with RESTful, GET,PUT,UPDATE,DELETE and using POSTMAN tools for testing APIs.
                     </p>
                </div>
                 <!-- GitHub Section -->
                <div class="col-sm-4 portfolio-item">
                  <%= image_tag "github.jpg", class: 'img-responsive' %>
                    <p> <h3> Version Control</h3>
                    <p> Understanding in GitHub Version Control CLI and using Heroku deploy apps with GitHub.
                     </p>
                </div>
    
        </div>
    </div>

</section>

 <!-- Skill Grid Section -->
<section id="skill">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Personal Skill</h2>
                <hr class="star-primary">
            </div>
        </div>
        
        <div class="row">
            <!-- ROR Section -->
               <div class="col-sm-4 portfolio-item">
                  <%= image_tag "enjoy-motivation.png", class: 'img-responsive' %>
                    <p> <h3> "Live the life of your dreams" </h3>
                    <p>Be brave enough to live the life of your dreams according to your vision and purpose instead of the expectations and opinions of others. 
                     </p>
                </div>
                 <!-- RESTful Section -->
                <div class="col-sm-4 portfolio-item">
                  <%= image_tag "body-positive.png", class: 'img-responsive' %>
                    <p> <h3> "Believe you can !!" </h3>
                    <p> I know , I can do this, Even so this problem is hard. Just believe you can, It's will happens.
                     </p>
                </div>
                 <!-- GitHub Section -->
                <div class="col-sm-4 portfolio-item">
                  <%= image_tag "toeic.png", class: 'img-responsive' %>
                    <p> <h3> English Skill</h3>
                    <p> Good command and English communication skills
                     </p>
                </div>
             
        </div>
    </div>
    </section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello ! , My name is Panuwat Boonrod, I'm 26 Years old , I'm Lab Technician at Bridgestone Metalpha , and Graduating in Computer Science
                        In Sukhothai University in third-year  </p>
            </div>
            <div class="col-lg-4">
                <p> Although I'm' not graduated from Bachelor degree, But i have motivation and enthusiasm to learn the new things and new technology, 
                So i have taken Online course for learn Javascript,HTML,CSS,Bootstrap 
                and familiar with Ruby on rails MVC Framework,API,Java and Basic Web Application</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://drive.google.com/open?id=0BzjJMvt6RUJRRjFydFRfRUdlUWM" class="btn btn-lg btn-outline" target="blank">
                    <i class="fa fa-download">Download Resume documents</i> 
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2><br>
                <div class="row">
                <hr class="star-primary">
                <div class="col-sm-4 portfolio-item">
                <%= image_tag "geofriends.png", class: "img-responsive" %>
                <a href="https://geofindfriends-01.herokuapp.com" target="blank"><h3> geo-Coder</h3></a>
                    <p> You can input the Latitude,Longtitude for know to where you are. </p>
                </div>
                  <div class="col-sm-4 portfolio-item">
                <%= image_tag "trackytimetracker.png", class: "img-responsive" %>
                 <a href="http://timetracker-01.herokuapp.com/" target="blank"><h3>Simple Time Tracking</h3></a>
                    <p> We're working on it!!.  </p>
                </div>
                 <div class="col-sm-4 portfolio-item">
                <%= image_tag "railsvector.png", class: "img-responsive" %>
                <p> <h3> Nutrition List</h3>
                    <p> We're working on it!!. </p>
                </div>
                </div>
            </div>
        </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>